@{
    ViewBag.Title = "ThanhVien";
    Layout = "~/Views/Share/AdminLayout.cshtml";
}

@using DoAn_BanHoa.Models;
@model List<TAIKHOAN>
<h2 style="margin-top: 20px; color: #e51c71">DANH SÁCH THÀNH VIÊN</h2>
<div class="row">
    <div class="col-md-9">
        <table style="border: 1px solid #e51c71;" class="table table-borderless table-hover">

            <thead style="font-weight: bold;">
                <tr>
                    <td style="width: 50px; text-align: left; border-bottom: 1px solid #e51c71; border-top: 1px solid #e51c71;" class="text-uppercase">Mã</td>
                    <td style="width: 100px; text-align: left; border-bottom: 1px solid #e51c71; border-top: 1px solid #e51c71;" class="text-uppercase">Họ tên</td>
                    <td style="width: 200px; text-align: center; border-bottom: 1px solid #e51c71; border-top: 1px solid #e51c71;" class="text-uppercase">Tên tài khoản</td>
                    <td style="width: 170px; text-align: center; border-bottom: 1px solid #e51c71; border-top: 1px solid #e51c71;" class="text-uppercase">Mật khẩu</td>
                    <td style="width: 100px; text-align: left; border-bottom: 1px solid #e51c71; border-top: 1px solid #e51c71;" class="text-uppercase"></td>
                    <td style="width: 100px; text-align: left; border-bottom: 1px solid #e51c71; border-top: 1px solid #e51c71;" class="text-uppercase"></td>

                </tr>
            </thead>

            <!---Chạy dòng foreach-->
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: left;">@item.MAKH</td>
                    <td style="text-align: center">@item.HOTEN</td>
                    <td style="text-align: center">@item.TENDN</td>
                    <td style="text-align: center">@item.MATKHAU</td>
                    <td style="text-align: center"><a href="@Url.Action("XoaKhachHang", "Product", new { @maKH = item.MAKH })">DELETE</a></td>
                    <td style="text-align: center"><a href="@Url.Action("SuaKhachHang", "Product", new { @maKH = @item.MAKH })">EDIT</a></td>
                </tr>
            }
            <p style="float: right; color: #e51c71; font-weight: bold">Tổng thành viên: @ViewBag.tv</p>

        </table>
    </div>
</div>

